@media screen and (max-width: 1440px) {
    body {
        zoom: 80%
    }
}
.pseudo-nav-link {
    font-weight: bold;
}
table.nodelist > tbody > tr {
    height: 48px;
}
table.nodelist > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}
table.nodelist > thead > tr > th {
    padding: 1px 5px;
    text-align: center;
    font-size: 17px;
}
table.nodelist > tbody > tr > td {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
table.nodelist > thead > tr > th:nth-child(1) {
    width: 84px;
}
table.nodelist > thead > tr > th:nth-child(2) {
    width: 200px;
}
table.nodelist > thead > tr > th:nth-child(3) {
    width: 95px;
}
table.nodelist > thead > tr > th:nth-child(4) {
    width: 80px;
}
table.nodelist > thead > tr > th:nth-child(5) {
    width: 52px;
}
table.nodelist > tbody > tr > td:nth-child(1) {
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}
table.nodelist > tbody > tr > td:nth-child(2) a {
    font-weight: bold;
}
table.nodelist > tbody > tr > td:nth-child(3) {
    font-weight: 500;
    text-align: right;
}
table.nodelist > tbody > tr > td:nth-child(6) {
    padding-top: 1px;
}
table.storagelist > tbody > tr {
    height: 41px;
}
table.storagelist > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}
table.storagelist > thead > tr > th {
    padding: 1px 5px;
    text-align: center;
    font-size: 17px;
}
table.storagelist > tbody > tr > td {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 41px;
}
table.storagelist > thead > tr > th:nth-child(1) {
    width: 100px;
}
table.storagelist > thead > tr > th:nth-child(2) {
    width: 90px;
}
table.storagelist > thead > tr > th:nth-child(3) {
    text-align: right;
    width: 60px;
}
table.storagelist > thead > tr > th:nth-child(4) {
    text-align: right;
    width: 90px;
}
table.storagelist > thead > tr > th:nth-child(5) {
    text-align: right;
    width: 90px;
}
table.storagelist > thead > tr > th:nth-child(6) {
    text-align: right;
    width: 90px;
}
table.storagelist > thead > tr > th:nth-child(7) {
    text-align: right;
    width: 90px;
}
table.storagelist > thead > tr > th:nth-child(8) {
    width: 75px;
}
table.storagelist > thead > tr > th:nth-child(9) {
    width: 270px;
}
table.storagelist > thead > tr > th:nth-child(10) {
    width: 800px;
}

table.storagelist > tbody > tr > td:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
}
table.storagelist > tbody > tr > td:nth-child(2) {
    text-align: right;
    white-space: nowrap
}
table.storagelist > tbody > tr > td:nth-child(3) {
    text-align: right;
}
table.storagelist > tbody > tr > td:nth-child(4) {
    text-align: right;
}
table.storagelist > tbody > tr > td:nth-child(5) {
    text-align: right;
}
table.storagelist > tbody > tr > td:nth-child(6) {
    text-align: right;
}
table.storagelist > tbody > tr > td:nth-child(7) {
    text-align: right;
}

table.grouplist td {
    padding: 1px 3px;
    /*font-size: 16px;*/
}
/*table.nodelist > tbody > tr > td:nth-child(6) {
    padding: 1px 0px;
}*/
table.grouplist th {
    padding: 1px 1px;
    text-align: center;
    /*font-size: 16px;*/
}
table.tenantlist > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}
table.tenantlist > tbody > tr {
    height: 36px;
}
table.tenantlist > thead > tr > th {
    padding: 1px 5px;
    text-align: center;
    font-size: 17px;
}
table.tenantlist > tbody > tr > td {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 32px;
}
table.tenantlist > thead > tr > th:nth-child(1) {
    min-width: 160px;
}
table.tenantlist > thead > tr > th:nth-child(2) {
    min-width: 80px;
}
table.tenantlist > thead > tr > th:nth-child(3) {
    width: 80px;
}
table.tenantlist > thead > tr > th:nth-child(4) {
    width: 80px;
}
table.tenantlist > tbody > tr > td:nth-child(2) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(3) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(4) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(5) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(6) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(7) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(8) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(9) {
    text-align: right;
}
table.tenantlist > tbody > tr > td:nth-child(10) {
    text-align: right;
}
.nodeblock {
    display: inline-block;
    width: 12px;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 3px;
    vertical-align: middle;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
}
.pool_cell {
    padding: 1px;
}
.pool_block {
    position: relative;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    vertical-align: middle;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    box-shadow: 2px 2px 2px grey;
}
.pool_div {
    width: 100%;
}
div.pool_block > div {
    /*transition: height 1s ease;*/
}
.pool_span {
    position: absolute;
    left: -1px;
    top: 5px;
    font-size: 14px;
    width: 100%;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
}
.nodeblock-small {
    display: inline-block;
    width: 12px;
    height: 30px;
    background-color: lightgrey;
    vertical-align: middle;
}
.diskblock {
    border-radius: 5px;
    border-color: #ededed;
    border-style: solid;
    background-color: #eeeeee;
    padding: 0px 2px 0px 2px;
    box-shadow: 0px 0px 5px #eeeeee;
}
.groupblock {
    font-size:10px;
    /*border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;*/
}
.vdiskblock {
    display: inline-block;
    height: 16px;
    font-size: 12px;
    background-color: lightgrey;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
}
.vdiskblock-wide {
    width: 20px;
}
.vdiskblock-normal {
    width: 14px;
}
.vdiskblock-narrow {
    width: 10px;
}
.vdiskblock-selected {
    border-width: 3px;
}
.vdiskblock-small {
    display: inline-block;
    width: 8px;
    height: 12px;
/*    font-size: 12px;*/
    background-color: lightgrey;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}
.pdiskblock {
    width:100%;
    min-width:100px;
    height:18px;
    margin-bottom:0px;
    vertical-align:middle;
    background-color:lightgrey;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
}
.tablet_map {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    margin-top: 8px;
}
.tablet_cell {
    display: flex;
    flex-direction: column;
}
/*
.tablet_label {
    text-align: left;
    font-size: 16px;
    position: relative;
    left: 3px;
    top: -1px;
    z-index: 2;
}
.tablet_counter {
    text-align: right;
    font-size: 12px;
    z-index: 1;
    position: relative;
    bottom: 5px;
    right: 2px;
}*/
.tablet_label {
    text-align: left;
    font-size: 12px;
}
.tablet_counter {
    text-align: right;
    font-size: 12px;
}
.tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    float: left;
    width: 22px;
    height: 22px;
    color: black;
    border-color: #909090;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 3px;
    text-align: center;
    padding-top: 2px;
    /*cursor: pointer;*/
    box-shadow: 2px 2px 2px grey;
}
.partitionblock {
    float: left;
    width: 8px;
    height: 8px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    margin: 1px;
}
.partitionblock-small {
    float: left;
    width: 5px;
    height: 5px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    margin: 1px;
}
.tabletgroupblock {
    padding-bottom: 10px;
}
.tabletgroupname {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}
.statecontainer {
    font-size: 10px;
}
.stateblock {
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: lightgrey;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px grey;
    margin-right: 5px;
    font-size: 6px;
    text-align: center;
    cursor: default;
}
.usageblock {
    display: inline-block;
    width: 100%;
    min-width: 130px;
    height: 10px;
    background-color: lightgrey;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px grey;
    margin-right: 5px;
    margin-bottom: 0px;
}
.latency-block {
    height: 16px;
    width: 80px;
    font-size: 11px;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px 1px grey;
    padding-left: 3px;
    padding-right: 3px;
}
.schema-bad {
    color: red;
}
.schema-neutral {
    color: grey;
}
.schema-good {
    color: steelblue;
}
.proplist td {
    padding: 3px;
}
.proplist td:first-child {
    text-align: right;
    font-weight: bold;
}
.schema-table th {
    padding: 1px 3px;
}
.schema-table td {
    padding: 1px 3px;
}
.tablets-table th {
    padding: 1px 3px;
}
.tablets-table td {
    padding: 1px 3px;
}
.children-table th {
    padding: 1px 3px;
}
.children-table td {
    padding: 1px 3px;
}
.groupblock > .vdiskblock {
    margin-right: 3px;
}
#schema-view td {
    vertical-align: top;
}
.totalstorage td:first-child {
    padding: 1px 3px;
    text-align: right;
    font-size: 16px;
}
.totalstorage td:nth-child(2) {
    padding: 1px 10px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
table.tstats > tbody > tr:nth-child(even) {
    background-color: #eee;
}
table.tstats > tbody > tr > td {
    font-size: 24px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px 3px 3px;
}
table.tstats > tbody > tr > td:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
table.nstats {
}
table.nstats > tbody > tr:nth-child(even) {
    background-color: #eee;
}
table.nstats > tbody > tr > td {
    font-size: 24px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px 3px 3px;
    width: 90px;
    text-align: right;
    overflow: hidden;
}
table.nstats > tbody > tr > th {
    font-size: 16px;
    border-right: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    padding: 3px 5px 3px 3px;
    width: 90px;
    text-align: center;
}
table.nstats > tbody > tr > td:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
td.tcounter {
    text-align: right;
    padding-right: 15px;
    text-shadow:
       -1px -1px 0 #999,
        1px -1px 0 #999,
        -1px 1px 0 #999,
         1px 1px 0 #999;
}
th.rotate {
    /* Something you can count on */
    height: 130px;
    min-width: 90px;
    white-space: nowrap;
}
th.rotate > div {
    transform:
    translate(80px, 43px)
    rotate(330deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 8px 0px;
    font-size: 16px;
}
table.sqlresult td {
    padding: 1px 3px;
    /*font-size: 16px;*/
}
table.sqlresult th {
    padding: 1px 1px;
    text-align: center;
    /*font-size: 16px;*/
}
span.node_roles {
    float: right;
    height: 100%;
    font-weight: bold;
    font-size: 10px;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
}
.pool_row {
    display: flex;
    flex-direction: row;
}
.node_group_block {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.node_group_header {
    /*font-size: 20px;*/
    font-size: 16px;
    font-weight: bold;
    color: #1d4856;
    background-color: #bde8f6;
    /*background-color: #eeffff;*/
    /*background-color: #aeefff;*/
    padding: 5px 15px 5px 15px;
    border: 1px solid #6d98a6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px grey;
    min-height: 40px;
    min-width: 1500px;
    justify-content: space-between;
    cursor: pointer;
}
.node_group_header_pressed {
    background-color: #b5e0ee;
    margin-left: 1px;
    margin-top: 1px;
    box-shadow: 1px 1px 2px grey;
}
.node_group_header_name {
    padding-right: 20px;
    /*font-size: 24px;*/
    font-size: 20px;
    align-self: center;
    /*margin-left: 7px;*/
    /*margin-right: 300px;*/
    margin-top: 2px;
    /*width: 200px;*/
    white-space: nowrap;
}
.node_group_header_nodes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
}
.node_group_header_info {
    padding-left: 20px;
    align-self: center;
    text-align: right;
    /*margin-right: 7px;*/
    /*margin-left: auto;*/
    margin-top: 2px;
    min-width: 190px;
}
.node_group_container {
    margin: 10px 10px 20px 10px;
}
.node_row {
    display: flex;
}
.node_cell {
    width: 12px;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 3px;
    vertical-align: middle;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    margin-left: 1px;
    margin-right: 1px;
}
.node_map {
    display: flex;
    /*border-radius: 0px;*/
    border: 2px solid #bbbbbb;
    border-radius: 3px;
    background-color: #aaaaaa;
    padding: 0px 0px 0px 0px;
}
.node_map_shadow {
    box-shadow: 2px 2px 2px grey;
}
.storage_group_block {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.storage_group_header {
    /*font-size: 20px;*/
    font-size: 16px;
    font-weight: bold;
    color: #1d4856;
    background-color: #bde8f6;
    /*background-color: #eeffff;*/
    /*background-color: #aeefff;*/
    padding: 5px 15px 5px 15px;
    border: 1px solid #6d98a6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px grey;
    min-height: 40px;
    min-width: 1500px;
    justify-content: space-between;
    cursor: pointer;
}
.storage_group_header_pressed {
    background-color: #b5e0ee;
    margin-left: 1px;
    margin-top: 1px;
    box-shadow: 1px 1px 2px grey;
}
.storage_group_header_name {
    padding-right: 20px;
    /*font-size: 24px;*/
    font-size: 20px;
    align-self: center;
    /*margin-left: 7px;*/
    /*margin-right: 300px;*/
    margin-top: 2px;
    /*width: 200px;*/
    white-space: nowrap;
}
.storage_group_header_nodes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
}
.storage_group_header_info {
    padding-left: 20px;
    align-self: center;
    text-align: right;
    /*margin-right: 7px;*/
    /*margin-left: auto;*/
    margin-top: 2px;
    min-width: 190px;
}
.storage_group_container {
    margin: 10px 10px 20px 10px;
}
.storage_vdisks {
    width: 270px;
}
.storage_erasure {
    text-align: center;
}
.storage_latency {
    text-align: center;
}
.disk_row {
    display: flex;
    flex-direction: row;
}
.disk_block {
    display: flex;
    flex-direction: column;
}
.pdisk_block {
    display: flex;
}
.vdisk_block {
    display: flex;
    flex-direction: row;
}
.pdisk {
    min-width: 80px;
    height: 18px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: lightgrey;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
    position: relative;
}
.pdisk-wide {
    width: 300px;
}
.pdisk-normal {
    width: 180px;
}
.pdisk-narrow {
    width: 120px;
}
.pdisk-extra-narrow {
    width: 80px;
}
.pdisk_bar {
    font-size: 10px;
    vertical-align: middle;
}
.pdisk_bar_value {
    position: absolute;
    top: -1px;
    left: 5px;
}
.pdisk_icons {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 12px;
}
.pdisk_icon {
    text-shadow: 0 0 1px black;
    margin-right: 2px;
}
.vdisk {
    height: 16px;
    font-size: 12px;
    background-color: lightgrey;
    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
}
.vdisk-wide {
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
.vdisk-normal {
    width: 16px;
    margin-left: 1px;
    margin-right: 1px;
}
.vdisk-narrow {
    width: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
.vdisk-selected {
    border-width: 3px;
}
.tooltip-inner {
    text-align: left;
    max-width: 500px;
}
.tooltip-table > tbody > tr > td:nth-child(1) {
    text-align: right;
    padding-right: 5px;
}
.node_group_switch {
    width: 80px;
    height: 32px;
}
.storage_group_switch {
    width: 80px;
    height: 32px;
}
.nav-link {
    font-weight: bold;
}
.progress-bar {
    transition: initial;
}
.disk_map {
    display: flex;
    flex-direction: row;
}
.disk_cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1px;
    margin-right: 1px;
}
.disks_place {
    display: flex;
    flex-direction: column;
    height: 37px;
    justify-content: flex-end;
}
.vdisk_place {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pdisk_place {
    display: flex;
    flex-direction: row;
}
.node_id_place {
    position: relative;
}
.node_id {
    margin-top: 1px;
}
.node_icons {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 18px;
}
.node_icon {
    /*text-shadow: 0 0 1px black;*/
    margin-left: 2px;
}
.uptime_place {
    contain: paint;
    white-space: nowrap
}
.mem_place {
}
.tenant_container {
    margin: 10px 10px 20px 10px;
}
.map_overview_header {
    margin-top: 10px;
    font-weight: bold;
}
.disk_place {
    display: flex;
    flex-direction: row;
}
.stats_container {
    display: flex;
    flex-direction: row;
    height: 53px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats_cell {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}
.stats_name {
    text-align: right;
    /*border-color: lightblue;*/
    border-color: orange;
    border-bottom-style: solid;
}
.stats_value {
    text-align: right;
}
