BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
ColumnLimit: 120
AllowShortLambdasOnASingleLine: Inline
AllowShortFunctionsOnASingleLine: Empty