<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{{ title|default:"Swagger" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon_href %}<link rel="icon" href="{{ favicon_href }}">{% endif %}
    <link rel="stylesheet" href="{{ swagger_ui_css }}">
    <style>
      html { box-sizing: border-box; overflow-y: scroll; }
      *, *:after, *:before { box-sizing: inherit; }
      body { background: #fafafa; margin: 0; }
    </style>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    <div id="swagger-ui"></div>
    <script src="{{ swagger_ui_bundle }}"></script>
    <script src="{{ swagger_ui_standalone }}"></script>
    {% if script_url %}
    <script src="{{ script_url }}"></script>
    {% else %}
    <script>
    {% include template_name_js %}
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>
