<!doctype html>
<html>
    <head>
        {% load static %}
        {% block head %}
        <title>localshop</title>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{% static 'localshop/css/main.css' %}" rel="stylesheet">
        <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
        .nowrap {
            white-space: nowrap;
        }
        </style>
        <script type="text/javascript" src="{% static 'localshop/js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'localshop/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('.toggle-secret-key').click(function(event) {
            event.preventDefault();
            var access_key = $(this).data('access-key');
            var secret_url = $(this).attr('href');
            $('[data-secret-key=' + access_key +']').load(secret_url);
          })
        });
        </script>
        {% endblock %}
    </head>

    <body>

        {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>


