{% load grp_tags i18n %}
{% if not module.is_empty %}

{% if dashboard.app_title %}
    <div{% if index %} id="module_{{ index }}{% if subindex %}_{{ subindex }}{% endif %}"{% endif %} class="{% if module|classname:"group" %}grp-group grp-stacked{% else %}grp-module {% endif %}{% if module|classname:"feed" %}feed {% endif %}{% if module|classname:"linklist" %}link-list {% endif %}{% if module|classname:"recentactions" %}actions {% endif %}{{ module.render_css_classes|cut:"deletable"|cut:"draggable"|join:"" }}">
{% else %}
    <div{% if index %} id="module_{{ index }}{% if subindex %}_{{ subindex }}{% endif %}"{% endif %} class="{% if module|classname:"group" %}grp-group  grp-stacked{% else %}grp-module {% endif %}{% if module|classname:"feed" %}feed {% endif %}{% if module|classname:"linklist" %}link-list {% endif %}{% if module|classname:"recentActions" %}actions {% endif %}{{ module.render_css_classes }}">
{% endif %}
    
    {% if module.title %}
        {% if module|classname:"group" %}
            <h2 class="module_title{% if module.collapsible %} grp-collapse-handler{% endif %}">{{ module.title }}</h2>
        {% else %}
            <h{% if subindex %}3{% else %}2{% endif %} class="module_title{% if module.collapsible %} grp-collapse-handler{% endif %}">{{ module.title }}</h{% if subindex %}3{% else %}2{% endif %}>
        {% endif %}
    {% endif %}
    {% if module.pre_content %}{{ module.pre_content|safe }}{% endif %}
    {% block module_content %}
        {% for child in module.children %}
            {{ child }}
        {% endfor %}
    {% endblock %}
    {% if module.post_content %}{{ module.post_content|safe }}{% endif %}
    
</div>

{% endif %}
