[MASTER]

load-plugins=pylint_protobuf

[VARIABLES]

dummy-variables-rgx=^ignored_|^unused_|_

[DESIGN]

max-args=14
max-parents=8

[FORMAT]

max-line-length=160

[MISCELLANEOUS]

notes=FIXME

[MESSAGES CONTROL]

disable=
  cyclic-import,
  duplicate-code,
  import-error,
  invalid-name,
  locally-disabled,
  locally-enabled,
  missing-docstring,
  misplaced-comparison-constant,
  no-init,
  no-name-in-module,
  protected-access,

  too-few-public-methods,
  too-many-instance-attributes,
  too-many-lines,
  too-many-nested-blocks,
  too-many-locals,
  too-many-ancestors,
  too-many-return-statements,
  too-many-branches,
  too-many-statements,
  too-many-arguments,
  too-many-public-methods,

  super-init-not-called,
  useless-else-on-loop,
  no-else-return,
  useless-object-inheritance,
  wrong-import-order,
  bad-continuation,
  invalid-overridden-method,
  consider-using-f-string,
  raise-missing-from,

  broad-except,
  unnecessary-pass,
  unused-argument,
  super-with-arguments,
  abstract-method
