items:
- name: Первоначальное развёртывание
  href: initial-deployment/index.md
  include:
    mode: link
    path: initial-deployment/toc_p.yaml
- name: Обновление конфигурации
  href: update-config.md
- name: Обслуживание кластера
  href: maintenance.md
- name: Обновление исполняемого файла
  href: update-executable.md
- name: Аутентификация и авторизация узлов баз данных
  href: node-authorization.md
- name: Управление кластером в режиме bridge
  href: bridge-management.md
- name: Управление дисковой подсистемой кластера
  include:
    mode: link
    path: ../../../maintenance/manual/toc_p.yaml
- name: Федеративные запросы
  href: federated-queries/index.md
  include:
    mode: link
    path: federated-queries/toc_p.yaml
