<div class="modal modal-blur fade" id="modal-action" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="actionConfirmation"></div>
                <div id="modal-form"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                <button id="actionSubmit" type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
            </div>
        </div>
    </div>
</div>
