<div class="modal modal-blur fade" id="modal-loading" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status"></div>
                    <span class="ms-2">{{ _("Loading") }}...</span>
                </div>
            </div>
        </div>
    </div>
</div>
