{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label %}">{% trans app_label|capfirst|escape %}</a></li>
            <li><a href="{% url opts|admin_urlname:'changelist' %}">{% trans opts.verbose_name_plural|capfirst %}</a></li>
            <li><a href="{% url opts|admin_urlname:'change' object_id %}">{{ original|truncatewords:"18" }}</a></li>
            <li><a href="{% url opts|admin_urlname:'history' object_id %}">{% trans "History" %}</a></li>
            <li>{% blocktrans with opts.verbose_name as verbose_name %}Revert {{ verbose_name }}{% endblocktrans %}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block object-tools %}{% endblock%}

{% block form_top %}
    <div class="grp-rte">
        <p>{% blocktrans %}Press the save button below to revert to this version of the object.{% endblocktrans %}</p>
    </div>
{% endblock %}

{% block submit_buttons_top %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
{% block submit_buttons_bottom %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
