certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.3.2
enum-compat==0.0.3
googleapis-common-protos==1.52.0
grpcio==1.31.0
idna==2.10
protobuf==3.15.0
pycparser==2.20
pydantic==1.6.2
PyJWT==2.4.0
requests==2.24.0
six==1.15.0
urllib3==1.26.5
yandexcloud==0.48.0
ydb==0.0.41

