<fieldset class="form-fieldset">
    {% for field in field.get_fields_list(request, action) %}
        <div class="form-group row mb-3">
            <label class="col-3 col-form-label {% if field.required %}required{% endif %}"
                   for="{{ field.id }}">{{ field.label }}</label>
            <div class="col">
                {% set item_data= (data[field.name] if data else None) %}
                {% with data=item_data, error=error.get(field.name, None) if error else None %}
                    {% include field.form_template %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}
</fieldset>
