{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <ul class="grp-listing-small">
        {% spaceless %}
            {% for child in module.children %}
                <li class="grp-row">
                    {% if child.date %}<p class="grp-font-color-quiet">{{ child.date|date }}&nbsp;</p>{% endif %}
                    {% if child.warning %}<p class="grp-font-color-error">{{ child.title }}</p>{% else %}<p><a class="grp-link-external" href="{{ child.url }}">{{ child.title }}</a></p>{% endif %}
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>
{% endblock %}
