{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <ul class="grp-listing-small">
        {% spaceless %}
            {% for child in module.children %}
                <li class="grp-row">
                    <a class="{% if child.external %}grp-link-external{% else %}grp-link-internal{% endif %}" href="{{ child.url }}" {% if child.description %} title="{{ child.description }}"{% endif %}{%if child.target %} target="{{ child.target }}"{% endif %}>{{ child.title }}</a>
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>
{% endblock %}
