{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    {% for child in module.children %}
        <div class="grp-row">
            {% if child.admin_url %}<a href="{{ child.admin_url }}"><strong>{{ child.title }}</strong></a>{% else %}<strong>{{ child.title }}</strong>{% endif %}
            {% if child.add_url %}
                <ul class="grp-actions">
                    {% if child.add_url %}<li class="grp-icon grp-add-link"><a href="{{ child.add_url }}" title="{% trans "Add" %}">&nbsp;</a></li>{% endif %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
