.webtreemap-node {
  /* Required attributes. */
  position: absolute;
  overflow: hidden;   /* To hide overlong captions. */
  background: white;  /* Nodes must be opaque for zIndex layering. */
  border: solid 1px #555;  /* Calculations assume 1px border. */

  /* Optional: CSS animation. */
  transition: top    0.3s,
              left   0.3s,
              width  0.3s,
              height 0.3s;
}

/* Optional: highlight nodes on mouseover. */
.webtreemap-node:hover {
  background: #FFFFFF;
}

/* Optional: Different background colors depending on type. */
{% for id_, name, color in types %}
.webtreemap-type-{{ id_ }} {
  background: {{ color }};
}
{% endfor %}

#legend > * {
  border: solid 1px #444;
}

/* Optional: Different borders depending on level. */
/*
.webtreemap-level0 {
  border: solid 1px #444;
}
.webtreemap-level1 {
  border: solid 1px #666;
}
.webtreemap-level2 {
  border: solid 1px #888;
}
.webtreemap-level3 {
  border: solid 1px #aaa;
}
.webtreemap-level4 {
  border: solid 1px #ccc;
}
*/

/* Optional: styling on node captions. */
.webtreemap-caption {
  font-family: sans-serif;
  font-size: 11px;
  padding: 2px;
  text-align: center;
}

/* Optional: styling on captions on mouse hover. */
/*.webtreemap-node:hover > .webtreemap-caption {
  text-decoration: underline;
}*/
