{"http_interactions": [{"request": {"body": "", "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/github3py/fork_this"}, "response": {"body": {"string": "{\"id\":5816984,\"name\":\"fork_this\",\"full_name\":\"github3py/fork_this\",\"owner\":{\"login\":\"github3py\",\"id\":1782156,\"avatar_url\":\"https://0.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?d=https%3A%2F%2Fidenticons.github.com%2Ff5a7e12a02816f3c90b0da74492d7b73.png\",\"gravatar_id\":\"396e3de53320abf9855d912cd3d9431f\",\"url\":\"https://api.github.com/users/github3py\",\"html_url\":\"https://github.com/github3py\",\"followers_url\":\"https://api.github.com/users/github3py/followers\",\"following_url\":\"https://api.github.com/users/github3py/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github3py/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github3py/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github3py/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github3py/orgs\",\"repos_url\":\"https://api.github.com/users/github3py/repos\",\"events_url\":\"https://api.github.com/users/github3py/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github3py/received_events\",\"type\":\"Organization\"},\"private\":false,\"html_url\":\"https://github.com/github3py/fork_this\",\"description\":\"A repository to test forking of\",\"fork\":false,\"url\":\"https://api.github.com/repos/github3py/fork_this\",\"forks_url\":\"https://api.github.com/repos/github3py/fork_this/forks\",\"keys_url\":\"https://api.github.com/repos/github3py/fork_this/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/github3py/fork_this/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/github3py/fork_this/teams\",\"hooks_url\":\"https://api.github.com/repos/github3py/fork_this/hooks\",\"issue_events_url\":\"https://api.github.com/repos/github3py/fork_this/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/github3py/fork_this/events\",\"assignees_url\":\"https://api.github.com/repos/github3py/fork_this/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/github3py/fork_this/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/github3py/fork_this/tags\",\"blobs_url\":\"https://api.github.com/repos/github3py/fork_this/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/github3py/fork_this/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/github3py/fork_this/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/github3py/fork_this/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/github3py/fork_this/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/github3py/fork_this/languages\",\"stargazers_url\":\"https://api.github.com/repos/github3py/fork_this/stargazers\",\"contributors_url\":\"https://api.github.com/repos/github3py/fork_this/contributors\",\"subscribers_url\":\"https://api.github.com/repos/github3py/fork_this/subscribers\",\"subscription_url\":\"https://api.github.com/repos/github3py/fork_this/subscription\",\"commits_url\":\"https://api.github.com/repos/github3py/fork_this/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/github3py/fork_this/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/github3py/fork_this/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/github3py/fork_this/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/github3py/fork_this/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/github3py/fork_this/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/github3py/fork_this/merges\",\"archive_url\":\"https://api.github.com/repos/github3py/fork_this/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/github3py/fork_this/downloads\",\"issues_url\":\"https://api.github.com/repos/github3py/fork_this/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/github3py/fork_this/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/github3py/fork_this/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/github3py/fork_this/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/github3py/fork_this/labels{/name}\",\"created_at\":\"2012-09-15T02:40:33Z\",\"updated_at\":\"2013-01-12T06:17:23Z\",\"pushed_at\":\"2012-09-15T02:40:33Z\",\"git_url\":\"git://github.com/github3py/fork_this.git\",\"ssh_url\":\"git@github.com:github3py/fork_this.git\",\"clone_url\":\"https://github.com/github3py/fork_this.git\",\"svn_url\":\"https://github.com/github3py/fork_this\",\"homepage\":null,\"size\":124,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"organization\":{\"login\":\"github3py\",\"id\":1782156,\"avatar_url\":\"https://0.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?d=https%3A%2F%2Fidenticons.github.com%2Ff5a7e12a02816f3c90b0da74492d7b73.png\",\"gravatar_id\":\"396e3de53320abf9855d912cd3d9431f\",\"url\":\"https://api.github.com/users/github3py\",\"html_url\":\"https://github.com/github3py\",\"followers_url\":\"https://api.github.com/users/github3py/followers\",\"following_url\":\"https://api.github.com/users/github3py/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github3py/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github3py/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github3py/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github3py/orgs\",\"repos_url\":\"https://api.github.com/users/github3py/repos\",\"events_url\":\"https://api.github.com/users/github3py/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github3py/received_events\",\"type\":\"Organization\"}}", "encoding": "utf-8"}, "headers": {"status": "200 OK", "x-ratelimit-remaining": "4998", "x-github-media-type": "github.v3; param=full; format=json", "x-accepted-oauth-scopes": "repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin", "last-modified": "Sat, 12 Jan 2013 06:17:23 GMT", "x-ratelimit-limit": "5000", "etag": "\"987cea7f315ccf1f18a912a19ac5a8eb\"", "x-oauth-scopes": "user, repo, gist", "content-type": "application/json; charset=utf-8", "x-ratelimit-reset": "1379822638"}, "url": "https://api.github.com/repos/github3py/fork_this", "status_code": 200}, "recorded_at": "2013-09-22T03:21:04"}, {"request": {"body": "{\"body\": \"Let's see how well this works with Betamax\", \"labels\": [], \"title\": \"Test issue creation\"}", "headers": {"Content-Type": "application/json", "Authorization": "token <AUTH_TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/github3py/fork_this/issues"}, "response": {"body": {"string": "{\"url\":\"https://api.github.com/repos/github3py/fork_this/issues/1\",\"labels_url\":\"https://api.github.com/repos/github3py/fork_this/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/github3py/fork_this/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/github3py/fork_this/issues/1/events\",\"html_url\":\"https://github.com/github3py/fork_this/issues/1\",\"id\":19867277,\"number\":1,\"title\":\"Test issue creation\",\"user\":{\"login\":\"sigmavirus24\",\"id\":240830,\"avatar_url\":\"https://2.gravatar.com/avatar/c148356d89f925e692178bee1d93acf7?d=https%3A%2F%2Fidenticons.github.com%2F4a71764034cdae877484be72718ba526.png\",\"gravatar_id\":\"c148356d89f925e692178bee1d93acf7\",\"url\":\"https://api.github.com/users/sigmavirus24\",\"html_url\":\"https://github.com/sigmavirus24\",\"followers_url\":\"https://api.github.com/users/sigmavirus24/followers\",\"following_url\":\"https://api.github.com/users/sigmavirus24/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sigmavirus24/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sigmavirus24/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sigmavirus24/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sigmavirus24/orgs\",\"repos_url\":\"https://api.github.com/users/sigmavirus24/repos\",\"events_url\":\"https://api.github.com/users/sigmavirus24/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sigmavirus24/received_events\",\"type\":\"User\"},\"labels\":[],\"state\":\"open\",\"assignee\":null,\"milestone\":null,\"comments\":0,\"created_at\":\"2013-09-22T03:21:48Z\",\"updated_at\":\"2013-09-22T03:21:48Z\",\"closed_at\":null,\"body_html\":\"<p>Let's see how well this works with Betamax</p>\",\"body_text\":\"Let's see how well this works with Betamax\",\"body\":\"Let's see how well this works with Betamax\",\"closed_by\":null}", "encoding": "utf-8"}, "headers": {"status": "201 Created", "x-accepted-oauth-scopes": "repo, public_repo", "x-ratelimit-remaining": "4997", "x-github-media-type": "github.v3; param=full; format=json", "x-ratelimit-limit": "5000", "location": "https://api.github.com/repos/github3py/fork_this/issues/1", "x-oauth-scopes": "user, repo, gist", "content-type": "application/json; charset=utf-8", "etag": "\"a98254bd24fe3e6cd3acd2e5e115a023\"", "x-ratelimit-reset": "1379822638"}, "url": "https://api.github.com/repos/github3py/fork_this/issues", "status_code": 201}, "recorded_at": "2013-09-22T03:21:05"}], "recorded_with": "betamax"}