.speakers-section {
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.speaker-card {
    display: flex;
    flex-direction: column;
}

.speaker-photo {
    display: block;
    height: 100px;
    width: auto;
}

.speaker-name {
    color: black;
    text-align: center;
}

.speaker-position {
    color: gray;
    text-align: center;
}