.tags_list {
  display: grid; 
  grid-template-columns: auto 1fr; 
  grid-auto-rows: auto; 
  grid-auto-columns: auto;
  grid-gap: 10px;
}


.multi-tags-container {
  display:flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  flex-wrap: wrap; 
  column-gap: 10px;
}

.tags-shape {
    border-radius: 5px;
    padding: 4px;
  }
  
  .g-root_theme_light {
    .tags-color-text {
      color: white;
    }
  
    .overview-tag {
      background-color:#EAD4D9;
    }
  
    .use_cases-tag {
      background-color:#F3E8DE;
    }
    .practice-tag {
      background-color:#CDD3CB;
    }
  
    .database_internals-tag {
      background-color:#B4B4B8;
    }
  
    .releases-tag {
      background-color:#DAE3C3;
    }
  
    .testing-tag {
      background-color:#B0D792;
    }
  
  }
  
  .g-root_theme_dark  {
    .overview-tag {
      background-color: #EAD4D9;
      color: black;
    }
    .tags-color-text {
      color: black;
    }

    .overview-tag {
      background-color:#EAD4D9;
    }
  
    .use_cases-tag {
      background-color:#F3E8DE;
    }
    .practice-tag {
      background-color:#CDD3CB;
    }
  
    .database_internals-tag {
      background-color:#B4B4B8;
    }
  
    .releases-tag {
      background-color:#DAE3C3;
    }
  
    .testing-tag {
      background-color:#B0D792;
    }
    
  }