{% load i18n %}
{% if show and choices|length %}
<div class="grp-row">
	<nav id="date-hierarchy" class="grp-date-hierarchy" style="position: relative; z-index: 1 !important">
		<header style="display:none"><h1>Date Hierarchy</h1></header>
	    <ul>
	        {% if back %}<li><a href="{{ back.link }}" class="grp-date-hierarchy-back">{{ back.title }}</a></li>{% endif %}
	        {% for choice in choices %}
	            <li>{% if choice.link %}<a href="{{ choice.link }}">{{ choice.title }}</a>{% else %}<span>{{ choice.title }}</span>{% endif %}</li>
	        {% endfor %}
	    </ul>
	</nav>
</div>
{% endif %}

