{% load i18n admin_urls %}
<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <div>
        {% block submit-row %}
        {% if show_delete_link %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <div class="grp-float-left"><a href="{% add_preserved_filters delete_url %}" class="grp-button grp-delete-link">{% trans "Delete" %}</a></div>
        {% endif %}
        {% if show_save %}
        	<div><input type="submit" value="{% trans 'Save' %}" class="grp-button grp-default" name="_save" /></div>
        {% endif %}
        {% if show_save_as_new %}
        	<div><input type="submit" value="{% trans 'Save as new' %}" class="grp-button" name="_saveasnew" /></div>
        {% endif %}
        {% if show_save_and_add_another %}
        	<div><input type="submit" value="{% trans 'Save and add another' %}" class="grp-button" name="_addanother" /></div>
        {% endif %}
        {% if show_save_and_continue %}
        	<div><input type="submit" value="{% trans 'Save and continue editing' %}" class="grp-button" name="_continue" /></div>
        {% endif %}
        {% endblock %}
    </div>
</footer>
