{% extends "admin/base_site.html" %}

{# load grp_csrf #}

{% block content %}
    <div id="content-main">
        <form action="" method="post" novalidate>{% csrf_token %}
            {% if form.error_dict %}
                <p class="errornote">Your template had {{ form.error_dict.items|length }} error{{ form.error_dict.items|pluralize }}:</p>
            {% endif %}
            <fieldset class="grp-module aligned">
                <div class="grp-row{% if form.site.errors %} error{% endif %} required">
                    <div class="column span-4"><h4><label for="id_site" class="required">Site:</label></h4></div>
                    <div class="column span-flexible">
                        {{ form.site }}
                        {% if form.site.errors %}{{ form.site.html_error_list }}{% endif %}
                    </div>
                </div>
                <div class="grp-row{% if form.template.errors %} error{% endif %} required">
                    <div class="column span-4"><h4><label for="id_template" class="required">Template:</label></h4></div>
                    <div class="column span-flexible">
                        {{ form.template }}
                        {% if form.template.errors %}{{ form.template.html_error_list }}{% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="grp-submit-row">
                <ul class="grp-submit-row">
                    <li class="grp-submit-button-container"><input type="submit" value="Check for errors" class="grp-default" /></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
