body {
  font: 300 14px 'Helvetica Neue', Helvetica;
  margin-top: 60px;
  background-color: #f8f8f8;
}

.navbar-default { background-color: white }

g.list > rect { fill: #00ffd0 }

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

#yql-editor, #sql-editor, #expr-editor { height: 450px }
#params-editor { height: 100px }
#input /*, #output, #results */ { height: 200px }
#yql-editor, #sql-editor, #params-editor { margin-bottom: 0 }
#editor-tabs { border-bottom: none }
#yql, #sql { margin-bottom: 10px }

div > pre {
    background-color: transparent;
    border: none;
}

#graph {
    height: 400px;
    overflow: auto;
    display: none;
}

#status-success, #status-fail, #warnings, #infos, #expr-editor, #errors, #opt-trace { display: none }
#alerts {
    position: absolute;
    right: 20px;
    top: 70px;
    z-index: 1000;
}
#alerts .message { white-space: nowrap }
#errors .message ul { margin-bottom: 0 }
#warnings .message ul { margin-bottom: 0 }
#infos  .message ul { margin-bottom: 0 }

.navbar .navbar-logo::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 35px;
    background: #9696FF;
    -webkit-transform: scaleX(0.5) rotate(45deg);
        -ms-transform: scaleX(0.5) rotate(45deg);
            transform: scaleX(0.5) rotate(45deg);
    top: 2px;
    right: -23px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #ACACFF;
}

.navbar .navbar-logo,
.navbar .navbar-logo:focus {
    color: #fff;
    background: #9696FF;
}

.navbar .navbar-logo:hover,
.navbar .navbar-logo:hover::after {
    color: white;
    background: #ACACFF;
}
.navbar .navbar-logo {
    padding-left: 20px;
    margin-right: 30px;
    position: relative;
}

.panel-body { padding: 0 }
.doc-link { margin-top: 10px }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    outline: 0;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
