{%- if description %}
# {{ description | replace('\n', '\n# ') }}
{%- endif %}
{%- if fields|length > 1 %}
{{ class_name }}: TypeAlias = Union[
{%- for field in fields %}
    '{{ field.name }}',
{%- endfor %}
]{% else %}
{{ class_name }}: TypeAlias = {{ fields[0].name }}{% endif %}