{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log grp_dashboard_tags %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                $("article#grp-content .grp-collapse").grp_collapsible();
            });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li>{% trans "Home" %}</li>
    </ul>
{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
{% grp_render_dashboard %}
{% endblock %}

