PY3_LIBRARY()

SUBSCRIBER(g:python-contrib)

VERSION()

LICENSE()

PEERDIR(
    contrib/python/numpy
)

ADDINCL(
    contrib/python/rapidfuzz/extern/rapidfuzz-cpp
    contrib/python/rapidfuzz/extern/taskflow
    contrib/python/rapidfuzz/rapidfuzz
    contrib/python/rapidfuzz/rapidfuzz/distance
    FOR
    cython
    contrib/python/rapidfuzz
    FOR
    cython
    contrib/python/rapidfuzz/rapidfuzz
    FOR
    cython
    contrib/python/rapidfuzz/rapidfuzz
    FOR
    cython
    contrib/python/rapidfuzz/rapidfuzz/distance
)

NO_COMPILER_WARNINGS()

NO_LINT()

CFLAGS()

PY_SRCS()

END()
