button.cfg-item-remove-icon {
    background: url(res/remove.png) no-repeat center;
}

button.cfg-item-edit-icon {
    background: url(res/edit.png) no-repeat center;
}

.btn-cfg-item:hover {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
}

.btn-cfg-item {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

form.cfg-form {
    margin: 5px 0 5px 0;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 10px;
}

label.cfg-form {
    margin: 0 5px 0 5px;
}

.pending-update {
    background: #F08080 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='300px'><text x='0' y='50' fill='red' font-size='30'>Pending Update</text></svg>") no-repeat center;
}

pre.cfg-item-hdr {
    background-color: transparent;
}

.cfg-item {
    margin: 5px 0 5px 0;
    background-color: #f7f7f7;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 10px;
}

.btn-light {
    background-color: #f5f5f5;
    margin: 1px 0px;
}

th {
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

#popup-header {
    margin-right: 32px;
}

#popup {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #ffffff00;
    z-index: 99;
    display: none;
}


.popup-content {
    position: fixed;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 85%;
    overflow: scroll;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
}

.popup-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.crosssign {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  transform: rotate(45deg);
}

.crosssign_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: rgb(0, 86, 179);
  border-radius: 11px;
  left: 0;
  top: 0;
}

.crosssign_stem,
.crosssign_stem2 {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crosssign_stem {
  width: 3px;
  height: 9px;
}

.crosssign_stem2 {
  width: 9px;
  height: 3px;
}

#popup pre {
    text-align: left;
    outline: 1px solid #ccc; padding: 5px; margin: 5px;
}

#popup .string {
    color: green;
}

#popup .number {
    color: darkorange;
}

#popup .boolean {
    color: blue;
}

#popup .null {
    color: magenta;
}

#popup .key {
    color: red;
}

.spoiler-wrap {
    background: #fff;
    margin: 0 0 8px;
    border: 1px solid rgb(0, 86, 179)
}

.spoiler-head {
    background: #efefef;
    cursor: pointer;
    padding: 5px;
}

.spoiler-body {
    padding: 10px
}

.spoiler-wrap.disabled .spoiler-body {
    display:none
}

.spoiler-wrap.active {
    border-color: rgb(0, 86, 179);
}

.spoiler-wrap.active .spoiler-head {
    background: rgb(0, 86, 179);
    color: #fff
}

.icon-copy {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 18px;
    border: 2px solid;
    margin-left: -5px;
    margin-top: -4px
}

.icon-copy::after,
.icon-copy::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.icon-copy::before {
    background:
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat right top/5px 2px,
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat left bottom/ 2px 5px;
    box-shadow: inset -4px -4px 0 -2px;
    bottom: -6px;
    right: -6px;
    width: 14px;
    height: 18px
}

.icon-copy::after {
    width: 6px;
    height: 2px;
    background: currentColor;
    left: 2px;
    top: 2px;
    box-shadow: 0 4px 0,0 8px 0
}

#console-log a {
    cursor: pointer;
    color: rgb(0, 123, 255);
}

#console-log a:hover {
    color: rgb(0, 86, 179);
}

.CodeMirror {
  border: 1px solid #eee;
  border-radius: 5px;
  height: auto;
  width: 1070px;
}

.CodeMirror-sizer {
  padding-bottom: 10px !important;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  margin-bottom: -50px;
  margin-right: -50px;
  height: auto;
  outline: 0;
  position: relative;
  z-index: 0;
}

.content {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.yaml-sticky-btn-wrap {
  height: 34px;
  width: 34px;
  position: sticky;
  margin-top: -15px;
  z-index: 10;
  cursor: pointer;
  top: 76px;
  float: right;
  margin-bottom: -20px;
  margin-right: -15px;
  opacity: 0.5;
}

.yaml-sticky-btn-wrap:hover {
  opacity: 1;
}

.yaml-sticky-btn-wrap-volatile {
  margin-top: 20px;
}

.yaml-sticky-btn {
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #339af0;
  border-radius: 50%;
  z-index: 10;
  transition: 0.2s;
}

.yaml-sticky-btn::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.yaml-btn-4 {
  margin-right: 99px;
}

.yaml-btn-3 {
  margin-right: 61px;
}

.yaml-btn-2 {
  margin-right: 23px;
}

.yaml-btn-1 {
  margin-right: -15px;
}

.fold-yaml-config .yaml-sticky-btn::after {
  -webkit-mask-image: url(ext/unfold-less.svg);
  mask-image: url(ext/unfold-less.svg);
}

.unfold-yaml-config .yaml-sticky-btn::after {
  -webkit-mask-image: url(ext/unfold-more.svg);
  mask-image: url(ext/unfold-more.svg);
}

.link-yaml-config .yaml-sticky-btn::after {
  -webkit-mask-image: url(ext/link.svg);
  mask-image: url(ext/link.svg);
}

.copy-yaml-config .yaml-sticky-btn::after {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  -webkit-mask-image: url(ext/document-copy.svg);
  mask-image: url(ext/document-copy.svg);
}

.yaml-sticky-btn-wrap:active .yaml-sticky-btn {
  transform: translate(0, 0) scale(0.9);
}

.animate {
  transform: translate(0, 0) scale(1.12);
}

.sticky-yaml-spoiler {
  position: sticky;
  top: 8px;
  z-index: 100;
  background: #f7f7f7;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid rgba(0,0,0,.125);
  margin-top: -1px;
  box-shadow: 0px -7px 0px 1px #FFFFFF;
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  margin-left: -1px;
  margin-right: -1px;
}

.yaml-floater {
  position: sticky;
  top: 8px;
  margin-left: -71px;
  float: left;
  z-index: 102;
}

.yaml-btn {
  width: 63px;
  height: 63px;
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
}

.yaml-btn.active {
  width: 72px;
  margin-right: -1px;
  border-right: 0px;
  border-radius: 4px 0 0 4px;
}

.yaml-btn::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 38px;
  height: 38px;
  background-color: #0000005e;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.yaml-settings-btn::after {
  -webkit-mask-image: url(ext/gear.svg);
  mask-image: url(ext/gear.svg);
}

.yaml-help-btn::after {
  top: 84px;
  -webkit-mask-image: url(ext/question-circle.svg);
  mask-image: url(ext/question-circle.svg);
}

.yaml-configs-dispatcher-btn::after {
  top: 155px;
  -webkit-mask-image: url(ext/1-circle.svg);
  mask-image: url(ext/1-circle.svg);
}

.yaml-submenu {
  width: calc(100% - 30px);
  max-height: calc(100% - 16px);
  display: none;
  position: fixed;
  top: 8px;
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.125);
  z-index: 101;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: scroll;
}

@media (min-width: 576px) {

.yaml-submenu {
  width: 510px;
}

}

@media (min-width: 768px) {

.yaml-submenu {
  width: 690px;
}

}

@media (min-width: 992px) {

.yaml-submenu {
  width: 930px;
}

}

@media (min-width: 1200px) {

.yaml-submenu {
  width: 1110px;
}

}


.yaml-submenu.active {
  display: block;
}

.yaml-submenu .CodeMirror {
  width: 1036px;
}

#yaml-config-resolved-wrapper .CodeMirror {
  width: 1052px;
}

.codeeditor-yaml-w500 .CodeMirror {
  width: 500px;
}

.yaml-submenu .yaml-sticky-btn-wrap {
  top: 0;
}

.configs-dispatcher .yaml-sticky-btn-wrap {
  top: 0;
}

.yaml-box {
  border-radius: 4px;
  height: 63px;
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.125);
}

@media (max-width: 576px) {

.yaml-btn:hover:not(.active) {
  margin-left: 32px;
  margin-right: -32px;
}

.yaml-btn:hover:not(.active)::after {
  margin-left: 32px;
  margin-right: -32px;
}

}

#yaml-configs-enabled-warning {
  background: rgb(201, 48, 44);
  border-color: rgb(172, 41, 37);
  color: white;
}
