{% extends "dashboard/repository_settings/base.html" %}
{% load i18n %}

{% block content_panel %}
    <div class="panel panel-default">
        <div class="panel-heading">Update credential comment</div>
        <div class="panel-body">

            <p>Here you can add or update the comment for the credential {{ credential }}.</p>
            <form method="post" action="" class="form-stacked">
                {% include "partial/_form_fields.html" %}
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-primary"><span class="icon-ok icon-white"></span> Save</button>
                    <a href="{% url 'dashboard:credential_index' repo=view.repository.slug %}" class="btn">Cancel</a>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

