{% extends "dashboard/repository_settings/base.html" %}
{% load i18n %}

{% block content_panel %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="{% url 'dashboard:credential_create' repo=view.repository.slug %}" class="btn btn-success btn-xs">
                    <span class="icon-plus icon-white"></span> Create new
                </a>
            </div>
            Credential overview
        </div>

        <div class="panel-body">
            <p>
                Overview of generated credentials to be used for accessing your localshop.
                Disabled credentials will receive a 403 error (unless specified in the
                access control list)
            </p>
            <p>
                Credentials are simple UUIDs that you can use as Basic Auth credentials
                when using your localshop via a pip requirement file. Simply specify the
                index with
                <pre>pip install -i http://&lt;access key&gt;:&lt;secret_key&gt;@{{ view.repository.simple_index_url }}/ ...</pre>
            </p>
            <p>
                <strong>Warning:</strong>
                Please be aware that those credentials are transmitted unencrypted over
                http unless you setup your localshop instance to run on a server that serves
                pages via https.
            </p>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Access Key</th>
                        <th>Secret Key</th>
                        <th>Comment</th>
                        <th>Disabled</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for credential in credential_list %}
                    <tr>
                        <td title="created {{ credential.created }}">{{ credential.access_key }}</td>
                        <td>
                            <span data-secret-key="{{ credential.pk }}" class="secret-keys">
                            <a href="{% url 'dashboard:credential_secret' repo=view.repository.slug access_key=credential.access_key %}" data-access-key="{{ credential.pk }}" class="toggle-secret-key"><span class="icon-lock"></span> show</a>
                        </td>
                        <td>{{ credential.comment }}</td>
                        <td>{{ credential.deactivated|default:'n/a' }}</td>
                        <td>
                            <a href="{% url 'dashboard:credential_edit' repo=view.repository.slug access_key=credential.access_key %}" class="nowrap"><span class="icon-edit"></span>&nbsp;edit</a> |
                            <a href="{% url 'dashboard:credential_delete' repo=view.repository.slug access_key=credential.access_key %}" class="nowrap"><span class="icon-trash"></span>&nbsp;delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}




