{% extends "layout.base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Signin" %}</legend>
        {{ form.non_field_errors }}
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
    </div>
</form>
{% endblock %}



{% block head %}
    {{ block.super }}
    <style type="text/css">
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[name="username"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="form-signin">
            <h2 class="form-signin-heading">Localshop</h2>

            {% if form.non_field_errors %}
            <div class="danger alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% trans "Username" as username_i18n %}
            {% trans "Password" as password_i18n %}

            {% with WIDGET_ERROR_CLASS='has-error' %}
            <div class="{% if form.username.errors %}has-error{% endif %}">
                <label for="username" class="sr-only">{{ username_i18n }}</label>
                {% render_field form.username class="form-control" placeholder=username_i18n autofocus=autofocus %}
            </div>

            <div class="{% if form.password.errors %} has-error{% endif %}">
                <label for="password" class="sr-only">{{ password_i18n }}</label>
                {% render_field form.password class="form-control" placeholder=password_i18n %}
            </div>
            {% endwith %}

            <div class="checkbox">
                <label>
                    {{ form.remember_me }}
                    {% trans "Remember me" %}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
