{% extends "layout.base.html" %}

{% load i18n %}

{% block content %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <fieldset>
                <legend><span class="col-sm-offset-1">{% trans "Password reset" %}</span></legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-info">
                        {% trans "Please enter your email address." %}
                    </div>
                </div>
                {% for field in form %}
                    {% include 'partial/_form_field.html' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id='submit' class="btn primary" type="submit" data-loading-text="{% trans 'loading' %}..." accesskey="Enter">{% trans 'Reset my password' %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
{% endblock %}
