{% extends 'layout.base.html' %}

{% load i18n %}


{% block content %}

<form action="" method="post" class="form form-horizontal">

    <fieldset>
        <legend>{% trans "Change Password" %}</legend>
        {% include "partial/_form_field.html" with field=form.new_password1 %}
        {% include "partial/_form_field.html" with field=form.new_password2 %}
        {% csrf_token %}
    </fieldset>

    <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}">
    </div>
</form>
{% endblock %}



