<div class="dropdown" id="actions-dropdown" style="display: none">
    <button type="button"
            class="btn dropdown-toggle"
            data-bs-toggle="dropdown"
            >
        {{ _("With selected") }} (<span class="actions-selected-counter">0</span
    >)
    </button>
    <div class="dropdown-menu">
        {% for action in _actions %}
            <a class="dropdown-item action-item"
               type="button"
               href="#"
                    {% if action.confirmation is not none %}
               data-bs-toggle="modal"
               data-bs-target="#modal-action"
               data-confirmation="{{ action.confirmation }}"
                    {% else %}
               data-no-confirmation-action="true"
                    {% endif %}
                    {% if action.custom_response %}
               data-custom-response="true"
                    {% endif %}
               data-name="{{ action.name }}"
               data-submit-btn-text="{{ action.submit_btn_text }}"
               data-submit-btn-class="{{ action.submit_btn_class }}"
               data-form="{{ action.form |forceescape }}"
            >
                {% if action.icon_class %}
                    <i class="{{ action.icon_class }} me-2"></i>
                {% endif %}
                {{ action.text }}
            </a>
        {% endfor %}
    </div>
</div>
