<!DOCTYPE html>
<html lang="{{ get_locale() }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    {% if favicon_url %}
        <link rel="icon" type="image/x-icon" href="{{ favicon_url }}"/>
    {% endif %}
    {% block head_meta %}{% endblock %}
    {% block title %}<title>{{ title or app_title }}</title>{% endblock %}
    <link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/tabler.min-1.1.0.css') }}">
    <link rel="stylesheet" href="{{ url_for(__name__ ~ ':statics', path='css/fontawesome.min.css') }}">
    <style>
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }

        .navbar-logo {
            width: auto;
            height: 2rem;
        }
    </style>
    {% block head_css %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block modal %}{% endblock %}
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for(__name__ ~ ':statics', path='js/vendor/js.cookie.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for(__name__ ~ ':statics', path='js/vendor/tabler.min-1.1.0.js') }}"></script>
{% block script %}{% endblock %}
<script>
    $(function () {
        $(".language-switcher-item").each(function () {
            let el = $(this);
            el.on("click", function () {
                Cookies.set(String(el.data("cookie-name")), String(el.data("lang")));
                window.location.reload();
            });
        });

        $(".timezone-switcher-item").each(function () {
            let el = $(this);
            el.on("click", function () {
                Cookies.set(String(el.data("cookie-name")), String(el.data("tz")));
                window.location.reload();
            });
        });

        {% if timezone_config and timezone_config.use_user_locale_timezone %}
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        if (!Cookies.get('timezone') && timezone) {
            Cookies.set('timezone', timezone);
        }
        {% endif %}
    });
</script>
</body>

</html>
