name: Update YDB for muted tests

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      build_type:
        required: true
        type: string
        default: 'relwithdebinfo'
    secrets:
      CI_YDB_SERVICE_ACCOUNT_KEY_FILE_CREDENTIALS:
        required: true

jobs:
  update-ydb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ydb[yc] codeowners pandas

      - name: Setup ydb access
        uses: ./.github/actions/setup_ci_ydb_service_account_key_file_credentials
        with:
          ci_ydb_service_account_key_file_credentials: ${{ secrets.CI_YDB_SERVICE_ACCOUNT_KEY_FILE_CREDENTIALS }}

      - name: Collect test history data
        run: python3 .github/scripts/analytics/flaky_tests_history.py --branch=${{ inputs.branch }} --build_type=${{ inputs.build_type }}

      - name: Update muted tests in DB
        run: python3 .github/scripts/tests/get_muted_tests.py upload_muted_tests --branch=${{ inputs.branch }} --build_type=${{ inputs.build_type }}

      - name: Update test monitor
        run: python3 .github/scripts/analytics/tests_monitor.py --branch=${{ inputs.branch }} --build_type=${{ inputs.build_type }}

