{% load i18n %}
{% block fields_help %}
  <p>
    {% if import_or_export == "export" %}
      {% translate "This exporter will export the following fields: " %}
    {% elif import_or_export == "import" %}
      {% translate "This importer will import the following fields: " %}
    {% endif %}

    {% if fields_list|length <= 1 %}
      <code>{{ fields_list.0.1|join:", " }}</code>
    {% else %}
      <dl>
          {% for resource, fields in fields_list %}
              <dt>{{ resource }}</dt>
              <dd><code>{{ fields|join:", " }}</code></dd>
          {% endfor %}
      </dl>
    {% endif %}
  </p>
{% endblock %}
