{% extends "layout.main.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="#">localshop</a> <span class="divider">/</span></li>
    <li class="active">{% trans "teams" %}</li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Teams overview</h1>
        <a href="{% url 'accounts:team_create' %}" class="btn btn-primary"> <span class="icon-plus icon-white"></span> Create</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># Members</th>
                    <th>Owners</th>
                </tr>
            </thead>
            <tbody>
                {% for team in team_list %}
                <tr>
                    <td><a href="{% url 'accounts:team_detail' pk=team.pk %}">{{ team.name }}</a></td>
                    <td>{{ team.members.count }}</td>
                    <td>{{ team.owners|join:', ' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
