{% extends "admin/base_site.html" %}
{% load i18n grp_tags %}

{% block bodyclass %}grp-login{% endblock %}
{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}
	<div class="g-d-c g-d-10 g-centered">
        <div class="grp-module grp-module-login">
            <h1>
                <span class="grp-admin-title"><a href="{% url 'admin:index' %}">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</a></span>
                <span class="grp-current-page">{{ title }}</span>
            </h1>
            <div class="grp-module">
                <div class="grp-row">
                    <p class="grp-description">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                    <p class="grp-description">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
