{% extends "admin/base_site.html" %}
{% load i18n grp_tags %} {# grp_csrf #}

{% block bodyclass %}grp-login{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="g-d-c g-d-10 g-centered">
        <form action="" method="post">{% csrf_token %}
            <fieldset class="grp-module grp-module-login">
                <h1>
                    <span class="grp-admin-title"><a href="{% url 'admin:index' %}">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</a></span>
                    <span class="grp-current-page">{{ title }}</span>
                </h1>
                <div class="grp-module">
                    <div class="grp-row">
                        <p class="grp-description">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                    </div>
                    <div class="grp-row{% if form.email.errors %} grp-errors{% endif %}">
                        <label for="id_email" class="required">{% trans 'Email address:' %}</label>
                        {{ form.email }}
                        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="grp-module grp-submit-row">
                <ul>
                    <li><input type="submit" value="{% trans 'Reset my password' %}" class="grp-default" /></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
