{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li>{% trans 'Password change' %}</li>
    </ul>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="g-d-c">
        <div class="g-d-12">
            <div class="grp-rte">
                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
