{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li>{% trans 'Password change' %}</li>
    </ul>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content-class %}{% endblock %}

{% block content %}

    <div class="g-d-c">
        <div class="g-d-12">
            <div class="grp-rte">
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <form action="" method="post">{% csrf_token %}
                <fieldset class="module grp-module">
                    <div class="form-row grp-row l-2c-fluid l-d-4{% if form.old_password.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_old_password" class="required">{% trans 'Old password' %}</label></div>
                        <div class="c-2">
                            {{ form.old_password }}
                            {{ form.old_password.errors }}
                        </div>
                    </div>
                    <div class="form-row grp-row l-2c-fluid l-d-4{% if form.new_password1.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_new_password1" class="required">{% trans 'New password' %}</label></div>
                        <div class="c-2">
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <div class="form-row grp-row l-2c-fluid l-d-4{% if form.new_password2.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label></div>
                        <div class="c-2">
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                </fieldset>
                <div class="grp-module grp-submit-row">
                    <ul>
                        <li><input type="submit" value="{% trans 'Change my password' %}" class="grp-default" /></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
