html,body,#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    font: 14px Helvetica Neue;
    text-rendering: optimizeLegibility;
    margin-top: 1em;
    overflow-y: scroll;
}

.scharm-table {
    border: 2px;
    border-color: black;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

rect.zoom-panel {
    /*cursor: ew-resize;*/
    fill: none;
    pointer-events: all;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

