html,body,#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    font: 14px Helvetica Neue;
    text-rendering: optimizeLegibility;
    margin-top: 1em;
    overflow-y: scroll;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

rect.zoom-panel {
    /*cursor: ew-resize;*/
    fill: none;
    pointer-events: all;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis.y {
    font-size: 16px;
    cursor: ns-resize;
}

.axis.x {
    font-size: 16px;
}

#ruler {
    text-anchor: middle;
    alignment-baseline: before-edge;
    font-size: 16px;
    font-family: sans-serif;
    pointer-events: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip table {
    border: 0px;
}

td.tip-heading {
    text-align: center;
}

td.tip-key {
    text-align: right;
}

td.tip-value {
    text-align: left;
}

.cbs-idle {
    fill: #eaeaea;
}

.cbs-active {
    fill: #c4ffc4;
}

.cbs-running {
    fill: #6aff6a;
}

.cbs-depleted {
    fill: #f9dccb;
}

.cbs-dead {
    fill: #ffffff;
}

.req-real {
    fill: #77a7ff;
}

.req-real-hover {
    fill: #90c0ff;
}

.req-est {
    fill: #5178bd;
    pointer-events: none;
}

.req-est-hover {
    fill: #80b0ee;
    pointer-events: none;
}

.req-kind {
    fill: #ce3a3a;
    pointer-events: none;
}

.arrow-arrival {
    stroke-width:1;
    stroke:#000;
}

.arrow-arrival-hover {
    stroke-width:3;
    stroke:#333;
}

.arrow-deadline {
    stroke-width:1;
    stroke:#000;
}

/* for arrowhead marker */
#arrow {
    stroke-width:1;
    stroke-dasharray:0;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


