name: Acceptance-run
on:
  schedule:
    - cron: "0 0 * * *"  # At 00:00 every day
  workflow_dispatch:
    inputs:
      build_preset:
        type: choice
        default: "relwithdebinfo"
        description: "Build preset"
        options:
          - debug
          - release
          - relwithdebinfo
          - release-asan
          - release-tsan
          - release-msan
      runner_label:
        type: string
        default: "auto-provisioned"
        description: "runner label"
      put_build_results_to_cache:
        type: boolean
        default: true

jobs:
  main:
    name: Build and test ${{ inputs.build_preset }}    
    runs-on: [ self-hosted, "${{ inputs.runner_label }}"]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.commit_sha }}

    - name: Build and test
      uses: ./.github/actions/build_and_test_ya
      with:
        build_preset: ${{ inputs.build_preset }}
        build_target: "ydb/tests/acceptance"
        increment: false
        run_tests: true
        test_size: small,medium,large
        test_type: unittest,py3test,py2test,pytest
        test_threads: 1
        put_build_results_to_cache: ${{ inputs.put_build_results_to_cache }}
        secs: ${{ format('{{"TESTMO_TOKEN":"{0}","AWS_KEY_ID":"{1}","AWS_KEY_VALUE":"{2}","REMOTE_CACHE_USERNAME":"{3}","REMOTE_CACHE_PASSWORD":"{4}"}}', 
          secrets.TESTMO_TOKEN, secrets.AWS_KEY_ID, secrets.AWS_KEY_VALUE, secrets.REMOTE_CACHE_USERNAME, secrets.REMOTE_CACHE_PASSWORD ) }}
        vars: ${{ format('{{"AWS_BUCKET":"{0}","AWS_ENDPOINT":"{1}","REMOTE_CACHE_URL":"{2}","TESTMO_URL":"{3}","TESTMO_PROJECT_ID":"{4}"}}',
          vars.AWS_BUCKET, vars.AWS_ENDPOINT, vars.REMOTE_CACHE_URL_YA, vars.TESTMO_URL, vars.TESTMO_PROJECT_ID ) }}
