name: Add backport table to PR

on:
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

env:
  GH_TOKEN: ${{ secrets.YDBOT_TOKEN }}

jobs:
  add-backport-table:
    name: Add backport table to merged PR
    runs-on: [ self-hosted, auto-provisioned, build-preset-analytic-node]
    if: >
      github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'main' &&
      vars.SHOW_BACKPORT_IN_PR == 'TRUE'
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: |
            .github

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install PyGithub

      - name: Add backport table to PR
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_WORKSPACE: ${{ github.workspace }}
          APP_DOMAIN: ${{ vars.APP_DOMAIN }}
          SHOW_BACKPORT_IN_PR: ${{ vars.SHOW_BACKPORT_IN_PR }}
        run: |
          python3 ./.github/actions/add_backport_table/add_backport_table.py

