name: CheckAllowedDirs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: ${{vars.CHECKS_SWITCH != '' && fromJSON(vars.CHECKS_SWITCH).allowed_dirs == true}}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Check dirs
      run: ${{github.workspace}}/.github/check_dirs.sh  ${{github.workspace}}
