name: Build-and-Test-Provisioned  # actually tests are not executed

on:
  workflow_call:
    inputs:
      runner_label:
        required: true
        type: string
      run_build:
        type: boolean
        default: true
      sanitizer:
        required: false
        type: string
      extra_compile_flags:
        required: false
        type: string
      checkout_ref:
        required: false
        type: string
      ninja_target:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      runner_label:
        required: true
        type: string
      run_build:
        type: boolean
        default: true
      sanitizer:
        required: false
        type: string
      extra_compile_flags:
        required: false
        type: string
      checkout_ref:
        required: false
        type: string
      ninja_target:
        required: false
        type: string

jobs:
  main:
    name: Build and test
    runs-on: [ self-hosted, "${{ inputs.runner_label }}" ]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.checkout_ref }}
    - name: Build
      uses: ./.github/actions/build
      if: inputs.run_build
      with:
        sanitizer: ${{ inputs.sanitizer }}
        ccache_remote_path: ${{ vars.REMOTE_CACHE_URL && format('http://{0}{1}', secrets.REMOTE_CACHE_AUTH, vars.REMOTE_CACHE_URL) || ''}}
        extra_compile_flags: ${{ inputs.extra_compile_flags }}
        ninja_target: ${{ inputs.ninja_target }}

