name: Build-and-Test Provisioned VM

on:
  workflow_call:
    inputs:
      runner_label:
        required: true
        type: string
      run_build:
        type: boolean
        default: true
      sanitizer:
        required: false
        type: string
      run_tests:
        type: boolean
        default: true
      test_label_regexp:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      runner_label:
        required: true
        type: string
      run_build:
        type: boolean
        default: true
      sanitizer:
        required: false
        type: string
      run_tests:
        type: boolean
        default: true
      test_label_regexp:
        required: false
        type: string
    
jobs:
  main:
    name: Build and test
    runs-on: [ self-hosted, Provisioned, "${{ inputs.runner_label }}" ]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      uses: ./.github/actions/build
      if: inputs.run_build
      with: 
        sanitizer: ${{ inputs.sanitizer }}
    - name: Test
      uses: ./.github/actions/test
      if: inputs.run_tests
      with: 
        log_suffix: ${{format('{0}{1}', inputs.runner_label, inputs.sanitizer)}}
        test_label_regexp: ${{ inputs.test_label_regexp }}
        aws_key_id: ${{secrets.AWS_KEY_ID}}
        aws_key_value: ${{secrets.AWS_KEY_VALUE}}
        testman_token: ${{secrets.TESTMO_TOKEN}}
        testman_url: ${{vars.TESTMO_URL}}
        testman_project_if: ${{vars.TESTMO_PROJECT_ID}}
