name: Postcommit_cmake
on: 
  push:
    branches:
      - 'cmakebuild'
    paths:
      - 'ydb/ci/cmakegen.txt'
jobs:
  build_and_test:
    if: ${{vars.CHECKS_SWITCH != '' && fromJSON(vars.CHECKS_SWITCH).postcommit_cmake == true}}
    name: Build and test cmake
    uses: ./.github/workflows/build_and_test_provisioned.yml
    with:
      runner_label: auto-provisioned, postcommit
    secrets: inherit

