name: PR check
on: 
  pull_request_target:
    branches:
      - 'main'
    paths-ignore:
      - 'ydb/docs/**'
    types:
      - 'opened'
      - 'synchronize'
      - 'reopened'
      - 'labeled'

jobs:
  check-running-allowed:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.check-ownership-membership.outputs.result }}
    steps:
      - name: Check if running tests is allowed
        id: check-ownership-membership
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          script: |
            const userLogin = context.payload.pull_request.user.login;
            console.log('*', context.payload.repository.owner.login, '*', userLogin,'*');
            if (context.payload.repository.owner.login == userLogin) {
              return true;
            }
            const response = await github.rest.orgs.checkMembershipForUser({
              org: context.payload.organization.login,
              username: userLogin,
            });
            // How to interpret status code: 
            // https://docs.github.com/en/rest/orgs/members?apiVersion=2022-11-28#check-organization-membership-for-a-user
            return response.status == '204'
      - name: comment-if-waiting-on-ok
        if: steps.check-ownership-membership.outputs.result == 'false'
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Hi! Thank you for contributing!\nThe tests on this PR will run after a maintainer adds an `ok-to-test` label to this PR manually. Thank you for your patience!'
            });
  build_and_test:
    needs:
      - check-running-allowed
    if: needs.check-running-allowed.outputs.result == 'true'
    uses: ./.github/workflows/build_and_test_ondemand.yml
    with:
      test_label_regexp: '(SMALL|MEDIUM)'
    secrets: inherit
