name: Regression-run_compatibility
run-name: >- 
          ${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.initial_version_ref != '' && github.event.inputs.initial_version_ref || 'default-init'}} -> ${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.inter_version_ref != '' && github.event.inputs.inter_version_ref || 'default-inter'}} -> ${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.target_version_ref != '' && github.event.inputs.target_version_ref || 'default-target'}}

on:
  schedule:
    - cron: "0 23 * * *"  # At 23:00 every day
  workflow_dispatch:
    inputs:
      pull_request_input:
        description: 'Pull request number (overrides default branches), ex: 12345'
        required: false
        default: ''
      initial_version_ref:
        description: Initial(oldest) version (ex. stable-24-4, should exist on S3)
        type: string
        required: false
      inter_version_ref:
        description: Intermediate version (ex. stable-25-1-2/25.1.1.18, should exist on S3)
        type: string
        required: false
      target_version_ref:
        description: Target(newest) version ("current" - compiles binary from the chosen branch)
        type: string
        required: false
      build_preset:
        description: 'Build preset (all, relwithdebinfo, release-asan, release-tsan, release-msan)'
        type: choice
        required: false
        default: 'all'
        options:
          - all
          - relwithdebinfo
          - release-asan
          - release-tsan
          - release-msan
jobs:
  main:
    name: Regression-run_compatibility
    uses: ./.github/workflows/run_tests.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix: 
        build_preset: ${{ (github.event_name != 'workflow_dispatch' || github.event.inputs.build_preset == '' || github.event.inputs.build_preset == 'all') && fromJSON('["relwithdebinfo", "release-asan", "release-tsan", "release-msan"]') || fromJSON(format('["{0}"]', github.event.inputs.build_preset)) }}
    with:
      test_targets: ydb/tests/compatibility/
      branches: ${{ (github.event_name != 'workflow_dispatch' || github.event.inputs.pull_request_input == '') && github.ref_name || '' }}
      build_preset: ${{ matrix.build_preset }}
      pull_number: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pull_request_input != '' && github.event.inputs.pull_request_input || '' }}
      additional_ya_make_args: >-
        ${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.initial_version_ref != '' && format(' -DYDB_COMPAT_INIT_REF={0} ', github.event.inputs.initial_version_ref) || ''}}${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.inter_version_ref != '' && format(' -DYDB_COMPAT_INTER_REF={0} ', github.event.inputs.inter_version_ref) || ''}}${{
          github.event_name == 'workflow_dispatch' && github.event.inputs.target_version_ref != '' && format(' -DYDB_COMPAT_TARGET_REF={0}', github.event.inputs.target_version_ref) || ''}}
