name: Regression-run_stress

on:
  schedule:
    - cron: "0 23 * * *"  # At 23:00 every day
  workflow_dispatch:
    inputs:
      pull_request_input:
        description: 'Pull request number (overrides use_default_branches), ex: 12345'
        required: false
        default: ''
      use_default_branches:
        description: 'If true, start main and all current stable branches. If false, start only the selected branch. Ignored if pull_request_input is set.'
        type: boolean
        required: false
        default: true
jobs:
  main:
    name: Regression-run_stress
    uses: ./.github/workflows/run_tests.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix: 
        build_preset: ["relwithdebinfo", "release-asan", "release-tsan", "release-msan"]
    with:
      test_targets: ydb/tests/stress/
      branches: ${{ inputs.pull_request_input && format('pull/{0}', inputs.pull_request_input) || (startsWith(inputs.use_default_branches, 'false') && github.ref_name || '') }}
      branches_config_path: '.github/config/stable_tests_branches.json'
      build_preset: ${{ matrix.build_preset }}
      additional_ya_make_args: '--test-param stress_default_duration=180 --test-param stress_default_erasure=MIRROR_3_DC'
