name: PR-description

on:
  pull_request_target:
    types:
      - opened
      - edited

    branches:
      - main
      - stable-*

permissions:
  pull-requests: write

jobs:
  validate-pr-description:
    runs-on: [ self-hosted, auto-provisioned, build-preset-analytic-node]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Use custom PR validation action
        id: validate
        uses: ./.github/actions/validate_pr_description
        with:
          pr_body: "${{ github.event.pull_request.body }}"

      - name: Test output
        if: always()
        run: echo "Result of validation is  ${{ steps.validate.outputs.status }}"
        

      - name: Set status
        if: failure()
        run: echo "Validation failed."
